.hero-container {
    background: url('https://github.com/jenskat88/portfolio/blob/master/img/New.JPG?raw=true') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
}